
   <include file="Common/header"/>
    <!-- main contents -->
   <div id="main_content">

       <script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCzk8BmzO5DJRRatWfdHW8hjS0ldnrkqWk&#038;ver=1.0.0'></script>









       <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth" >

           <div class="content_row_wrapper  fullwidth" >
               <div class="vc_col-sm-12 wpb_column vc_column_container">
                   <div class="wpb_wrapper">
                       <div class="google_map_holder" data-height="300" data-scope="#map-331544" data-bw="yes">

                           <div id="map-331544" class="google_map"></div>
                           <script type="text/javascript">
                               /* <![CDATA[ */
                               // Runs google maps
                               jQuery(function() {
                                   jQuery("#map-331544").rt_maps([["Location Title", 31.7995972000,120.5486187000, 4,""],["Location Title", 31.7377140000,120.5685699000, 4,""],["Location Title", 3.5827900000,-76.4930670000, 4,""],],15);
                               });
                               /* ]]&gt; */
                           </script>

                       </div>
                   </div>
               </div>

           </div>
       </div>

       <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth border_grid fixed_heights overlap" >

           <div class="content_row_wrapper  fullwidth" ><div class="vc_col-sm-4 wpb_column vc_column_container">
               <div class="wpb_wrapper">
                   <div class="rt_heading_wrapper style-6">
                       <h5 class="rt_heading  style-6" >Colombia  Office</h5>
                   </div>
                   <div  class="with_icons style-3 ">

                       <div  >
                           <span class="icon-address icon"></span><div class="list-content"><p><span style="font-weight: 400;">Calle 8 # 31-A-99 Arroyohondo</span></p>
                       </div>
                       </div>

                       <div  >
                           <span class="icon-phone icon"></span><div class="list-content"><p><span style="font-weight: 400;">+573014302872</span></p>
                       </div>
                       </div>

                       <div  >
                           <span class="icon-mail-1 icon"></span><div class="list-content"><p><a href="mailto:Nolberto.Maldonado@arphu.com"><span style="font-weight: 400;"> Nolberto.Maldonado@arphu.com</span></a></p>
                       </div>
                       </div>

                   </div>

               </div>
           </div>

               <div class="vc_col-sm-4 wpb_column vc_column_container">
                   <div class="wpb_wrapper">
                       <div class="rt_heading_wrapper style-6">
                           <h5 class="rt_heading  style-6" >Suzhou Arphu Industrial Co., Ltd</h5>
                       </div>
                       <div  class="with_icons style-3 ">

                           <div  >
                               <span class="icon-address icon"></span><div class="list-content"><p><span style="font-weight: 400;">Yangshe Town, Zhangjiagang City, Suzhou City, Jiangsu, P.R. China, 215600</span></p>
                           </div>
                           </div>

                           <div  >
                               <span class="icon-phone icon"></span><div class="list-content"><p><span style="font-weight: 400;">+8617712451616</span></p>
                           </div>
                           </div>

                           <div  >
                               <span class="icon-mail-1 icon"></span><div class="list-content"><p><a href="mailto:info@arphu.com"><span style="font-weight: 400;">info@arphu.com</span></a></p>
                           </div>
                           </div>

                       </div>
                       <div class="google_map_holder" data-height="300" data-scope="#map-464514" data-bw=""></div>
                   </div>
               </div>

               <div class="vc_col-sm-4 wpb_column vc_column_container">
                   <div class="wpb_wrapper">
                       <div class="rt_heading_wrapper style-6">
                           <h5 class="rt_heading  style-6" >DL Industrial Limited </h5>
                       </div>
                       <div  class="with_icons style-3 ">

                           <div  >
                               <span class="icon-address icon"></span><div class="list-content"><p><span style="font-weight: 400;">No. 268 Xizhang Rd., Gushan, Jiangyin City, Jiangsu, China, 214410 </span></p>
                           </div>
                           </div>

                           <div  >
                               <span class="icon-phone icon"></span><div class="list-content"><p><span style="font-weight: 400;">+8617712451616</span></p>
                           </div>
                           </div>

                           <div  >
                               <span class="icon-mail-1 icon"></span><div class="list-content"><p><a href="mailto:kevin@joint-belt.com"><span style="font-weight: 400;">kevin@joint-belt.com</span></a></p>
                           </div>
                           </div>

                       </div>
                       <div class="google_map_holder" data-height="300" data-scope="#map-464514" data-bw=""></div>
                   </div>
               </div>

           </div>
       </div>

   </div><!-- / end #container -->

   <include file="Common/footer"/>

</body>
</html>