
   <include file="Common/header"/>
    <!-- main contents -->
    <div id="main_content">
        <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth" >

            <div class="content_row_wrapper  nopadding fullwidth" >
                <div class="vc_col-sm-12 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <div id="content-slider-551145" style="min-height:600px;" class="rt-carousel main-carousel carousel-holder clearfix" data-item-width="1" data-nav="true" data-dots="true" data-parallax="true" data-timeout="12000" data-autoplay="true">
                            <div class="owl-carousel">

                                <div class="item  light-style slide-background" style="background-image: url(/Public/Default/home/upload/banner1.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;min-height: 600px;">

                                    <div class="slide-content-wrapper default clearfix">
                                        <div class="slide-content animation  right" style="width: 50%;background-color: rgba(0,0,0,0.38);margin-top: 180px;">
                                            <h4>CONVEYOR BELT MAINTEANCE</h4>
                                            <h5><em><strong>Meeting client expectations, on time and quick delivery to provide superior products  and super services to client industries.</strong></em></h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="item  light-style slide-background" style="background-image: url(/Public/Default/home/upload/banner2.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;min-height: 600px;">

                                    <div class="slide-content-wrapper default clearfix">
                                        <div class="slide-content animation  right" style="width: 50%;background-color: rgba(0,0,0,0.38);margin-top: 180px;">
                                            <h4>MINING SERVICE</h4>
                                            <h5><em><strong>Enhance safety as well as cost reductions in the mining sector, we commited to work as a valued partner on the job.</strong></em></h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="item  light-style slide-background" style="background-image: url(/Public/Default/home/upload/banner3.jpg);background-repeat: no-repeat;background-size: cover;background-position: left top;min-height: 600px;">

                                    <div class="slide-content-wrapper default clearfix">
                                        <div class="slide-content animation  right" style="width: 50%;background-color: rgba(0,0,0,0.2);margin-top: 180px;">
                                            <h4>CUSTOMER APPROACH</h4>
                                            <h5><em><strong>Specialised in supplying products designed to meet end-user requirements apart from quality off the shelf products</strong></em></h5>

                                        </div>
                                    </div>
                                </div></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth fixed_heights border_grid fixed_heights animate-cols border-bottom" style="background-color: #2b2b2b;">

            <div class="content_row_wrapper  align-contents content-align-middle default" style="padding-top:45px;padding-bottom:45px;"><div class="vc_col-sm-8 wpb_column vc_column_container">
                <div class="wpb_wrapper">
                    <div class="rt_heading_wrapper " style="padding-bottom:0px;">
                        <h4 class="rt_heading  mobile_aligncenter "  style="color:#ffffff;margin-bottom:0px;">  We devote ourselves to the field of conveyor belt maintenance</h4>
                    </div>
                </div>
            </div>

                <div class="vc_col-sm-4 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <div class="button_wrapper  aligncenter"><a  href="http://www.wencomining.com/featured-products/" target="_self" title="Featured Products" class="button_  body-font custom medium" style="color:#ffffff;background-color:#81d742;" data-hover-style="color:#000000 !important;#81d742"><span class="icon-new-link-1"></span>Featured Products</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth" >

            <div class="content_row_wrapper  default" >
                <div class="vc_col-sm-12 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <div class="rt_heading_wrapper style-1">
                            <h1 class="rt_heading  style-1" >Our Products</h1>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p style="text-align: left;">The conveyor belt maintenance products and related auxiliaries offered by Arphu are mostly in the repairs division to enhance the performance of conveyor belting.</p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth border_grid fixed_heights animate-cols" >

            <div class="content_row_wrapper  default" ><div class="vc_col-sm-3 wpb_column vc_column_container">
                <div class="wpb_wrapper">
                    <article   class="image-content-box content-box box-style-1 left"><div class="featured_image_holder"><a href="/Cate/Conveyor-Belt-Vulcanizer.html" title="Conveyor Belts" target="_self"><img class="img-responsive" src="/Public/Default/home/upload/1 conveyor belt vulcanizer.jpg" alt="Conveyor belts" /></a></div><div class="text-holder">
                        <h3 class="heading" >
                            <a href="/Cate/Conveyor-Belt-Vulcanizer.html" title="Conveyor Belt Vulcanizer" target="_self" >
                                Conveyor Belt Vulcanizer
                            </a>
                        </h3> <a class="read_more" href="/Cate/Conveyor-Belt-Vulcanizer.html" title="Conveyor Belts" target="_self" >Conveyor Belt Vulcanizer</a></div></article>
                </div>
            </div>

                <div class="vc_col-sm-3 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <article   class="image-content-box content-box box-style-1 left"><div class="featured_image_holder"><a href="/Cate/Belt-Repair-Vulcanizer.html" title="Rubber Sheeting" target="_self"><img class="img-responsive" src="/Public/Default/home/upload/2 Conveyor belt repair.jpg" alt="" /></a></div><div class="text-holder">
                            <h3 class="heading" >
                                <a href="/Cate/Belt-Repair-Vulcanizer.html" title="Belt Repair Vulcanizer" target="_self" >
                                    Belt Repair Vulcanizer
                                </a>
                            </h3> <div data-canvas-width="841.2559772918588"></div>
                            <div data-canvas-width="841.2559772918588"></div>
                            <a class="read_more" href="/Cate/Belt-Repair-Vulcanizer.html" title=" Belt Repair Vulcanizer" target="_self" >Belt Repair Vulcanizer</a></div></article>
                    </div>
                </div>

                <div class="vc_col-sm-3 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <article   class="image-content-box content-box box-style-1 left"><div class="featured_image_holder"><a href="/Cate/Belt-Strip-Machine-Series.html" title="Wear Solutions" target="_self"><img class="img-responsive" src="/Public/Default/home/upload/3 Belt stripping machine series.jpg" alt="Wear Solutions" /></a></div><div class="text-holder">
                            <h3 class="heading" >
                                <a href="/Cate/Belt-Strip-Machine-Series.html" title="Belt Strip Machine Series" target="_self" >
                                    Belt Strip Machine Series
                                </a>
                            </h3> <a class="read_more" href="/Cate/Belt-Strip-Machine-Series.html" title="Wear Solutions" target="_self" >Belt Strip Machine Series</a></div></article>
                    </div>
                </div>

                <div class="vc_col-sm-3 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <article   class="image-content-box content-box box-style-1 left"><div class="featured_image_holder"><a href="/Cate/Conveyor-or-Auxiliary-Devices.html" title="Mining Hose" target="_self"><img class="img-responsive" src="/Public/Default/home/upload/4 conveyor auxliary.jpg" alt="Mining House" /></a></div><div class="text-holder">
                            <h3 class="heading" >
                                <a href="/Cate/Conveyor-or-Auxiliary-Devices.html" title="Conveyor or Auxiliary Devices" target="_self" >
                                    Conveyor or Auxiliary Devices
                                </a>
                            </h3> <div data-canvas-width="682.7998597974586"></div>
                            <div data-canvas-width="682.7998597974586"></div>
                            <a class="read_more" href="/Cate/Conveyor-or-Auxiliary-Devices.html" title="Mining Hose" target="_self" >Conveyor or Auxiliary Devices</a></div></article>
                    </div>
                </div>
            </div>
        </div>

        <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth border_grid fixed_heights animate-cols" >

            <div class="content_row_wrapper  default" style="padding-top:60px;padding-bottom:60px;"><div class="vc_col-sm-4 wpb_column vc_column_container">
                <div class="wpb_wrapper">

                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>Arphu designs, manufactures, sells and supports the complete solutions including high standard conveyor belt splicing products and reliable maintenance services, specially to the mining, steel, port, cement industry globally.</p>

                        </div>
                    </div>
                    <div class="rt_heading_wrapper style-5">
                        <span class="punchline" style="color:#45c15c;">OUR PROJECTS</span><h2 class="rt_heading  with_punchline heading-font style-5"  style="color:#45c15c;">OUR PROJECTS</h2>
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p style="text-align: left;">We have made projects for the BaoSteel group, Conch Cement, BHP, Buenaventura Port, etc. We respect each of domestic and overseas partner organizations and value each chance to keep sustainable development with our clients.  </p>

                        </div>
                    </div>
                    <div class="button_wrapper  alignleft"><a  href="/project.html" target="_self" title="See all our Projects" class="button_  color medium">See all our Projects</a></div>
                </div>
            </div>

                <div class="vc_col-sm-8 wpb_column vc_column_container">
                    <div class="wpb_wrapper">

                        <div id="slider-portfolio-dynamicID-395521" class="rt-carousel carousel-holder clearfix portfolio-carousel" data-item-width="3" data-nav="false" data-dots="false" data-margin="" data-autoplay="false" data-timeout="5000" data-loop="false" data-tablet-item-width="" data-mobile-item-width="1">
                            <div class="owl-carousel">
                                <volist name="projects" id="p">
                                    <div><div class="item portfolio  fabrication-projects">


                                        <!-- portfolio box-->
                                        <div class="loop style-1 image post-4548 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_categories-fabrication-projects" id="">



                                            <figure class="featured_image">
                                                <img src="{$p['pic_url']}" alt="{$p['pic_url']}" class="" />
                                                <div class="overlay"><ul class="action_buttons"><li><a id="lightbox-354055" class="zoom lightbox_" data-group="image_4569" title="{$p['project_name']}" data-title="{$p['project_name']}" data-sub-html="#lightbox-354055-description" data-thumbnail="{$p['pic_url']}" data-thumbTooltip="" data-scaleUp="" data-href="" data-width="" data-height="" data-flashHasPriority="" data-poster="" data-autoplay="" data-audiotitle="" data-html="" href="{$p['pic_url']}" ></a>
                                                    <div class="lighbox-description hidden" id="lightbox-354055-description">
                                                        <strong>{$p['project_name']}</strong><br>

                                                    </div></li><li><a class="link" href="/project/{$p['url']}.html" title="{$p['project_name']}" target="_self"></a></li></ul></div>
                                            </figure>

                                            <section class="text">
                                                <h5 class="clean_heading"><a href="/project/{$p['url']}.html" target="_self" rel="bookmark">{$p['project_name']}</a></h5>

                                            </section>


                                        </div>
                                        <!-- / portfolio box-->
                                    </div>
                                    </div>
                                </volist>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div  class="content_row row vc_row wpb_row vc_row-fluid light-style fullwidth animate-cols" style="background-color: #83c937;">

            <div class="content_row_wrapper  default" >
                <div class="vc_col-sm-12 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <div class="rt_heading_wrapper style-4">
                            <span class="punchline">Feedback reviews received from our customers</span><h1 class="rt_heading  with_punchline style-4" >What our clients say</h1>
                        </div><section id="testimonial-130257" class="border_grid testimonials clearfix  left " data-column-width="2"><div class="row"><div id="4206" class="testimonial col col-sm-6  first loop post-4206 testimonial type-testimonial status-publish hentry">



                        <div class="text ">
                            <p>
                                <span class="icon-quote-left"></span>
                                I have test your machine already. It works good.
                                <span class="icon-quote-right"></span>
                            </p>
                            <div class="client_info">

                                Business Owner, Raymond




                            </div>
                        </div></div>
                        <div id="4204" class="testimonial col col-sm-6  last loop post-4204 testimonial type-testimonial status-publish hentry">



                            <div class="text ">
                                <p>
                                    <span class="icon-quote-left"></span>
                                    My specialization in design, manufacture and splicing in conveyor belts, together with the experience, quality, reliability in Arphu, make our presses, articles and services a guarantee for the users of our products.		<span class="icon-quote-right"></span>
                                </p>
                                <div class="client_info">

                                    General Manager, Nolberto
                                </div>
                            </div></div>
                        <div id="4204" class="testimonial col col-sm-6  last loop post-4204 testimonial type-testimonial status-publish hentry">



                            <div class="text ">
                                <p>
                                    <span class="icon-quote-left"></span>
                                    We've cooperated about 10 years with Arphu Industrial (DL Industrial Limited) for conveyor belt vulcanizing presses project, Arphu Industrial as a leader supplier with high quality products and perfect service bring us reliable and prosperous win-win cooperation!		<span class="icon-quote-right"></span>
                                </p>
                                <div class="client_info">

                                    Director, David
                                </div>
                            </div></div>
                        <div id="4204" class="testimonial col col-sm-6  last loop post-4204 testimonial type-testimonial status-publish hentry">



                            <div class="text ">
                                <p>
                                    <span class="icon-quote-left"></span>
                                    As a reliable supplier & partner, Arphu Industrial is an professional team with honesty, specialty and perfect services.  		<span class="icon-quote-right"></span>
                                </p>
                                <div class="client_info">

                                    Sales, Antony
                                </div>
                            </div></div>
                    </div></section>
                    </div>
                </div>

            </div>
        </div>

        <div  class="content_row row vc_row wpb_row vc_row-fluid alt-style-2 fullwidth animate-cols border-top has-bg-image" style="background-image: url(http://www.wencomining.com/wp-content/uploads/2015/02/bridge.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: left center;background-color: #c1c1c1;">

            <div class="content_row_wrapper  fullwidth" style="padding-top:120px;padding-bottom:120px;"><div class="vc_col-sm-4 wpb_column vc_column_container">
                <div class="wpb_wrapper">

                </div>
            </div>

                <div class="vc_col-sm-8 wpb_column vc_column_container" style="background-color: rgba(0,0,0,0.66);">
                    <div class="wpb_wrapper">
                        <div class="rt_heading_wrapper style-5">
                            <h1 class="rt_heading  style-5"  style="color:#ffffff;">Our company history</h1>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p><span style="color: #ffffff;">Being a manufacturer with rich experience of more than 10 years specializing in the conveyor belt maintenance and service including conveyor belt splicing machine, belt repair vulcanizing machine, belt stripping machine, Arphu has already started earlier. </span></p>

                            </div>
                        </div>
                        <div class="vc_empty_space"  style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                        <div class="button_wrapper "><a  href="/about-us.html" target="_self" title="Know more about us" class="button_  heading-font default small"><span class="icon-new-link-1"></span>Know more about us</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div  class="content_row row vc_row wpb_row vc_row-fluid default-style fullwidth" >

            <div class="content_row_wrapper  default" ><div class="vc_col-sm-3 wpb_column vc_column_container">
                <div class="wpb_wrapper">
                    <div class="rt_heading_wrapper style-5">
                        <h1 class="rt_heading  style-5" >Our Latest News</h1>
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>Want to discover more about us and what we do? <em>Our news</em> section is dedicated to delivering the <em>latest</em>  stories to you.</p>

                        </div>
                    </div>
                    <div class="button_wrapper "><a  href="/news-center.html" target="_self" title="More news" class="button_  heading-font color medium"><span class="icon-link-1"></span>More news</a></div>
                </div>
            </div>

                <div class="vc_col-sm-9 wpb_column vc_column_container">
                    <div class="wpb_wrapper">

                        <div id="slider-blog-carousel-dynamicID-359111" class="rt-carousel carousel-holder clearfix blog-carousel" data-item-width="3" data-nav="false" data-dots="true" data-margin="15" data-autoplay="true" data-timeout="5000" data-loop="false" data-tablet-item-width="" data-mobile-item-width="1">
                            <div class="owl-carousel">
                                <volist name="news" id="n">

                                    <div><div class="item post">


                                        <!-- blog box-->
                                        <article class="loop post-4636 post type-post status-publish format-standard has-post-thumbnail hentry category-mining-products tag-conveyor-belts tag-mining-equipment-suppliers tag-mining-equipments tag-mining-supplies tag-wear-protection" id="">


                                            <figure class="featured_image">
                                                <a href="/news/{$n['url']}.html" title="{$n['title']}" rel="bookmark"><if condition="empty($n['pic_url']) neq true"><img src="{$n['pic_url']}" alt="" class="" /></if></a>
                                            </figure>


                                            <div class="date">{$n['time']|date="F d,Y",###}</div>

                                            <div class="text">

                                                <!-- blog headline-->
                                                <h5 class="clean_heading"><a href="/news/{$n['url']}.html" title="{$n['title']}" rel="bookmark">{$n['title']}</a></h5>


                                                <!-- meta data -->
                                                <div class="post_data">

                                                    <!-- user -->
                                                    <span class="icon-user user margin-right20"><a href="" title="Posts by net_admin" rel="author">net_admin</a></span>


                                                </div><!-- / end div  .post_data -->

                                            </div>

                                        </article>
                                        <!-- / blog box-->
                                    </div>
                                    </div>




                                </volist>

                            </div>

                            <div id="slider-blog-carousel-dynamicID-359111-dots" class="dots-holder">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>












    </div><!-- / end #main_content -->

    <include file="Common/footer"/>

</body>
</html>