
<include file="Common/header"/>
<link rel='stylesheet' id='formidable-css'  href='__CSS__/display-structure.css' type='text/css' media='all' />

<!-- main contents -->
<div id="main_content">
    <div class="content_row row sub_page_header fullwidth " style="background-image: url(__IMG__/bridge.jpg);background-repeat: repeat;background-size: auto auto;background-attachment: scroll;background-color: rgba(255, 255, 255, 0.3);">
        <div class="content_row_wrapper  default">
            <div class="col col-sm-12">
                <div class="breadcrumb">
                    <ol vocab="http://schema.org/" typeof="BreadcrumbList">
                        <li property="itemListElement" typeof="ListItem"> <a property="item" typeof="WebPage" class="icon-home" href="/"><span property="name">Home</span>
                            <meta property="position" content="1" /></a> <span class="icon-angle-right"></span> </li>
                        <li property="itemListElement" typeof="ListItem"> <a property="item" typeof="WebPage" class="" href="/Cate/{$pro_info['cate_name']}.html"><span property="name">{$pro_info['cate']}</span>
                            <meta property="position" content="2" /></a> <span class="icon-angle-right"></span> </li>
                        <li property="itemListElement" typeof="ListItem">
                            <meta itemprop="name" content="Vacuum Filter Belts" />
                            <meta itemprop="url" content="" /> <span property="name">{$pro_info['product_name']}</span>
                            <meta property="position" content="3" /></li>
                    </ol>
                </div>
                <section class="page-title">
                    <h1>{$pro_info['product_name']}</h1>
                </section>
            </div>
        </div>
    </div>
    <div class="content_row default-style no-composer  fullwidth">
        <div class="content_row_wrapper clearfix ">
            <div class="col col-sm-12 col-xs-12 ">
                <div class="row border_grid fixed_heights single-products" itemscope="" itemtype="http://schema.org/Product">
                    <div class="product-summary col col-sm-4 col-xs-12">
                        <div class="row  ">
                            <div class="col col-sm-12 col-xs-12">
                                <div id="slider-3238-product-image-carosel" class="rt-carousel carousel-holder clearfix product-image-carosel rt-image-carousel" data-item-width="1" data-nav="true" data-dots="false" data-margin="15" data-autoplay="true" data-timeout="7500" data-loop="false" data-tablet-item-width="" data-mobile-item-width="1">
                                    <div class="owl-carousel">
                                        <div>
                                            <a id="lightbox-218390" class="imgeffect zoom lightbox_" data-group="slider-carousel-359828" title="Vacuum Filter Belts" data-title="Vacuum Filter Belts" data-sub-html="#lightbox-218390-description" data-thumbnail="" data-thumbtooltip="" data-scaleup="" data-href="" data-width="" data-height="" data-flashhaspriority="" data-poster="" data-autoplay="" data-audiotitle="" data-html="" href="{$pro_info['product_pic']}"><img src="{$pro_info['product_pic']}" alt="Vacuum Filter Belts" itemprop="image" /></a>
                                            <div class="lighbox-description hidden" id="lightbox-218390-description">
                                                <strong>{$pro_info['product_name']}</strong>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="social_share_holder">
                                    <div class="share_text">
                                        <span class="icon-share">Share</span>
                                    </div>
                                    <ul class="social_media">
                                        <li class="mail"><a class="icon-mail " href="mailto:?body=http%3A%2F%2Finfo@arphu.com%2Fproduct-details%2F" title="Email"><span>Email</span></a></li>
                                        <li class="facebook"><a class="icon-facebook " href="#" data-url="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.arphu.com%2F" title="Facebook"><span>Facebook</span></a></li>
                                        <li class="linkedin"><a class="icon-linkedin " href="#" data-url="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.arphu.com%2F" title="Linkedin"><span>Linkedin</span></a></li>
                                    </ul>
                                </div>
                                <div class="product_meta">
                                    <span class="posted_in"><b>Category:</b> <a href="/Cate/{$pro_info['cate_name']}.html" rel="tag">{$pro_info['cate']}</a></span>
                                </div>
                                <meta itemprop="name" content="{$pro_info['product_name']}" />
                                <meta itemprop="url" content="/product/{$pro_info['url']}.html" />
                                <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <meta itemprop="price" content="" /></span>
                            </div>
                            <!-- end .col -->
                        </div>
                        <!-- end .row -->
                    </div>
                    <!-- end .col -->
                    <div class="col col-sm-8  col-xs-12">
                        <div class="rt_tabs clearfix  left tab-style-2" id="single-product-details" data-tab-style="tab-style-2">
                            <ul class="tab_nav hidden-xs">
                                <li class="tab_title  active" id="tab-general-details-title" data-tab-number="1"><span class="icon-doc-alt"></span>General Details</li>
                                <li class="tab_title " id="tab-1-title" data-tab-number="2">Technical Info</li>
                                <li class="tab_title " id="tab-2-title" data-tab-number="3"><span class="icon-new-link-1"></span>Product Range</li>
                                <li class="tab_title " id="tab-3-title" data-tab-number="4"><span class="icon-info"></span>Order Enquiry</li>
                            </ul>
                            <div class="tab_contents">

                                <div class="tab_content_wrapper animation  active" id="tab-general-details" data-tab-content="1">
                                    <div id="tab-general-details-inline-title" class="tab_title visible-xs" data-tab-number="1">
                                        <span class="icon-doc-alt"></span>General Details
                                    </div>
                                    <div class="tab_content">
                                        {$pro_info['general_details']}
                                    </div>
                                </div>

                                <div class="tab_content_wrapper animation " id="tab-1" data-tab-content="2">
                                    <div id="tab-1-inline-title" class="tab_title visible-xs" data-tab-number="2">
                                        Technical Info
                                    </div>
                                    <div class="tab_content">
                                        {$pro_info['technical_info']}
                                    </div>
                                </div>

                                <div class="tab_content_wrapper animation " id="tab-2" data-tab-content="3">
                                    <div id="tab-2-inline-title" class="tab_title visible-xs" data-tab-number="3">
                                        <span class="icon-new-link-1"></span>Product Range
                                    </div>
                                    <div class="tab_content">
                                        {$pro_info['product_range']}
                                    </div>
                                </div>

                                <div class="tab_content_wrapper animation " id="tab-3" data-tab-content="4">
                                    <div id="tab-3-inline-title" class="tab_title visible-xs" data-tab-number="4">
                                        <span class="icon-info"></span>Order Enquiry
                                    </div>
                                    <form id="enquiry">
                                    <div class="tab_content">
                                        <div id="nf-form-2-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-2" aria-describedby="nf-form-errors-2" role="form">
                                            <span id="nf-form-title-2" class="nf-form-title">
                                                <h3>Quote Request Form</h3>
                                            </span>
                                            <div class="nf-form-wrap ninja-forms-form-wrap">
                                                <div class="nf-response-msg"></div>
                                                <div class="nf-debug-msg"></div>
                                                <div class="nf-before-form"><nf-section>

                                                </nf-section></div>
                                                <div class="nf-form-layout"><div>
                                                    <div class="nf-before-form-content"><nf-section>
                                                        <div class="nf-form-fields-required">Fields marked with an <span class="ninja-forms-req-symbol">*</span> are required</div>

                                                    </nf-section></div>
                                                    <div class="nf-form-content "><nf-fields-wrap><nf-field>
                                                        <div id="nf-field-5-container" class="nf-field-container html-container  label-above ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-5-wrap" class="field-wrap html-wrap" data-field-id="5">



                                                                <div class="nf-field-label"><label for="nf-field-5" class="">Tell us about your project  </label></div>


                                                                <div class="nf-field-element">
                                                                    <h3>Tell us about your project...</h3>
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-5" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-12-container" class="nf-field-container listradio-container  label-above one-half first ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>

                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-12" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-15-container" class="nf-field-container textarea-container  label-above ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-15-wrap" class="field-wrap textarea-wrap" data-field-id="15">



                                                                <div class="nf-field-label"><label for="nf-field-15" class="">Describe your project <span class="ninja-forms-req-symbol">*</span> </label></div>


                                                                <div class="nf-field-element">
                                                                    <textarea id="nf-field-15" name="describe" aria-invalid="false" aria-describedby="nf-error-15" class="ninja-forms-field nf-element"></textarea>
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-15" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-16-container" class="nf-field-container html-container  label-above ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-16-wrap" class="field-wrap html-wrap" data-field-id="16">



                                                                <div class="nf-field-label"><label for="nf-field-16" class="">Tell us about you  </label></div>


                                                                <div class="nf-field-element">
                                                                    <h3>Tell us about you...</h3>
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-16" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-17-container" class="nf-field-container firstname-container  label-above one-half first ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-17-wrap" class="field-wrap firstname-wrap" data-field-id="17">



                                                                <div class="nf-field-label"><label for="nf-field-17" class="">First Name  </label></div>


                                                                <div class="nf-field-element">
                                                                    <input id="nf-field-17" name="first_name" aria-invalid="false" aria-describedby="nf-error-17" class="ninja-forms-field nf-element" type="text" value="">
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-17" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-18-container" class="nf-field-container lastname-container  label-above one-half ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-18-wrap" class="field-wrap lastname-wrap" data-field-id="18">



                                                                <div class="nf-field-label"><label for="nf-field-18" class="">Last Name  </label></div>


                                                                <div class="nf-field-element">
                                                                    <input id="nf-field-18" name="last_name" aria-invalid="false" aria-describedby="nf-error-18" class="ninja-forms-field nf-element" type="text" value="">
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-18" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-20-container" class="nf-field-container textbox-container  label-above ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-20-wrap" class="field-wrap textbox-wrap" data-field-id="20">



                                                                <div class="nf-field-label"><label for="nf-field-20" class="">Company Name  </label></div>


                                                                <div class="nf-field-element">
                                                                    <input id="nf-field-20" name="company_name" aria-invalid="false" aria-describedby="nf-error-20" class="ninja-forms-field nf-element" type="text" value="">
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-20" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-19-container" class="nf-field-container email-container  label-above one-half first ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-19-wrap" class="field-wrap email-wrap" data-field-id="19">



                                                                <div class="nf-field-label"><label for="nf-field-19" class="">Email  <span class="ninja-forms-req-symbol">*</span></label></div>


                                                                <div class="nf-field-element">
                                                                    <input id="nf-field-19" name="email" aria-invalid="false" aria-describedby="nf-error-19" class="ninja-forms-field nf-element" type="email" value="">
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-19" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-6-container" class="nf-field-container textbox-container  label-above one-half ">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-6-wrap" class="field-wrap textbox-wrap" data-field-id="6">



                                                                <div class="nf-field-label"><label for="nf-field-6" class="">Phone  </label></div>


                                                                <div class="nf-field-element">
                                                                    <input id="nf-field-6" name="phone" aria-invalid="false" aria-describedby="nf-error-6" class="ninja-forms-field nf-element" type="text" value="">
                                                                </div>


                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-6" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field><nf-field>
                                                        <div id="nf-field-11-container" class="nf-field-container submit-container  label-above " name="Order_Enquiry">
                                                            <div class="nf-before-field"><nf-section>

                                                            </nf-section></div>
                                                            <div class="nf-field"><div id="nf-field-11-wrap" class="field-wrap submit-wrap" data-field-id="11">
                                                                <div class="nf-field-label"></div>
                                                                <div class="nf-field-element">
                                                                    <input id="nf-field-11" class="ninja-forms-field nf-element " type="button" value="Submit" />
                                                                </div>
                                                                <div class="nf-error-wrap"></div>
                                                            </div></div>
                                                            <div class="nf-after-field"><nf-section>

                                                                <div class="nf-input-limit"></div>

                                                                <div id="nf-error-11" class="nf-error-wrap nf-error" role="alert"></div>


                                                            </nf-section></div>
                                                        </div>
                                                    </nf-field></nf-fields-wrap></div>
                                                    <div class="nf-after-form-content"><nf-section>

                                                        <div id="nf-form-errors-2" class="nf-form-errors" role="alert"><nf-errors></nf-errors></div>
                                                        <div class="nf-form-hp"><nf-section>
                                                            <label for="nf-field-hp-2" aria-hidden="true">

                                                                <input id="nf-field-hp-2" name="nf-field-hp" class="nf-element nf-field-hp" type="text" value="">
                                                            </label>
                                                        </nf-section></div>
                                                    </nf-section></div>
                                                </div></div>
                                                <div class="nf-after-form"><nf-section>

                                                </nf-section></div>
                                            </div>
                                        </div>
                                            </div>
                                    </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end .col -->
                </div>
                <!-- end .row.border_grid-->
            </div>
        </div>
    </div>
</div>

<!-- / end #main_content -->
<include file="Common/footer"/>

</body>
</html>